{% extends 'main.html' %}

{% block content %}

<!--When the action attribute of an HTML <form> tag is empty (action=""), 
the form's data is submitted to the same URL as the current page. 
=>In simpler terms, the form submits back to itself.-->


<main class="formPage my-xl">
    
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="bi bi-caret-left"></i></a>
            <br>

            <form class="form" method="POST" >
                {% csrf_token %}
                <!-- Input:Text -->
                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>


{% endblock %}