{% extends 'main.html' %}
{% block content %}


</form>

     

    <!-- Main Section -->
    <main class="formPage my-xl">
      <div class="content-box">
          <div class="formWrapper">
              <a class="backButton" href="{% url 'projects' %}"><i class="bi bi-arrow-left"></i></a>
              <br>

              <form class="form" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <!-- Input:Text -->
                   {%for field in form%}
                  <div class="form__field">
                      <label for="formInput#text">{{field.label}}</label>
                      {{field}}
                  </div>
                  {%endfor%}
                  <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
              </form>
          </div>
      </div>
  </main>



{% endblock content %}


<!-- 
  The enctype="multipart/form-data" attribute is necessary to properly 
  handle file uploads in HTML forms. 
=>It ensures that binary file data is transmitted correctly to the server.
  If your form has a file input,always include this attribute in your <form> tag

    =>t doesn't encode characters. Instead, it breaks the form data into multiple parts,
     each with its own headers, and sends them as a multipart message
-->


